<template>
    
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill"></span>
      </h4>
      <ul class="list-group mb-3">
        <CartItems productName='First Prodcut' productDescription = 'Brief Descripotion' productPrice = '12$'/>
        <CartItems productName='Second product' productDescription = 'Brief Descripotion' productPrice = '8$'/>
        <CartItems productName='Third item' productDescription = 'Brief Descripotion' productPrice = '5$'/>
        <CartItems productName='Promo code' productDescription = 'EXAMPLECODE' productPrice = '-5$'/>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
      </ul>
      <CartPromoRedeem />
    </div>
    
</template>

<script>
import CartItems from "./CartItems";
import CartPromoRedeem from "./CartPromoRedeem";
export default {
    name: 'cart',
    components:{
      CartItems,
      CartPromoRedeem
    }
}
</script>