<template>
    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{productName}}</h6>
            <small class="text-muted">{{productDescription}}</small>
        </div>
        <span class="text-muted">{{productPrice}}</span>
    </li>
</template>

<script>
export default{
    name: 'Cart Items',
    props:{
        productName: String,
        productDescription: String,
        productPrice: String
    }
}
</script>