<template>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <InputComponent v-for="input in inputs"
            :key="input.id"
            :input="input"/>
            <Location />
          </div>
          <Payment></Payment>
          <hr class="my-4">          
          <button class="w-100 btn btn-primary btn-lg" @submit='submitForm(event)'>Continue to checkout</button>
        </form>
      </div>
</template>

<script>
import Payment from './Payment'
import Location from "./Location";
import InputComponent from "./inputComponent";
import {seedData} from "./../../seed"
export default {
  components:{
    Payment,
    Location,
    InputComponent
  },
  data(){
    return{
      inputs: seedData
    }
  },
  methods:{
    submitForm(event){
      let firstName = this.getDataToSend('firstName')
      let lastName = this.getDataToSend('lastName')
      this.$emit('namesSubmited', firstName + lastName)
      event.preventDefault();
    },
    getDataToSend(className){
      let dataToSend = document.querySelector('#'+className);
      if (dataToSend){
        return dataToSend.value;
      }
    }
  }
}
</script>