<template>
    <div class="form-check">
        <input v-bind:id="type" name="paymentMethod" type="radio" class="form-check-input" required>
        <label class="form-check-label" v-bind:for="type">{{cardsName}}</label>
    </div>
</template>

<script>
export default {
    name: 'Cards',
    props:{
        cardsName: String,
        type: String
    }
}
</script>