<template>
    <div :class="classUpdate()">
        <label :for="input.id" class="form-label">{{input.name}} <span class="text-muted" v-if= "name == 'Address 2' || email ">(Optional)</span></label>
        <input :type="typeSet()" class="form-control" v-bind:id="input.id" :placeholder="input.placeHolder">
        <div class="invalid-feedback">
           {{input.validationError}}
        </div>
    </div>
</template>

<script>

export default {
    name : 'inputFile',
    props:['input'],
    methods:{
        classUpdate(){
            if(this.input.class == 'firstName' || this.input.class == 'lastName')
                return 'col-sm-6';
            return 'col-12';
        },
        typeSet(){
            if(this.input.type != 'text' && this.input.type != 'email')
                return 'number';
            return this.input.type;
        }
    }
}
</script>
