<template>
    <div class="col-md-5">
        <label for="country" class="form-label">Country</label>
        <select class="form-select" id="country" required>
            <option value="">Choose...</option>
            <option>United States</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid country.
        </div>
    </div>
    <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <select class="form-select" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
        </select>
        <div class="invalid-feedback">
            Please provide a valid state.
            </div>
    </div>
    <div class="col-md-3">
        <label for="zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip" placeholder="" required>
        <div class="invalid-feedback">
            Zip code required.
        </div>
    </div>
</template>