<template>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" v-bind:id="id">
        <label class="form-check-label" v-bind:for="cause">{{text}}</label>
    </div>
</template>

<script>
export default {
    name : 'Checkboxes',
    props:{
        id: String,
        text: String,
        cause: String
    }
}
</script>