<template>
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="row g-5">
        <Cart></Cart>
        <BillingAdress></BillingAdress>
      </div>
      <div>
        <table>
         <tr>
          <th>Firstname</th>
          <th>Lastname</th>
         </tr>
           <Table v-for="name in Names"
            :key="name.firstName"
            :name="name"/>
        </table>
      </div>
    </main>
  </div>
</template>

<script>
import BillingAdress from './components/Billing/BillingAddress'
import Cart from './components/Cart/Cart'
import Table from "./components/Table/Table";
export default {
  name: 'App',
  data(){
    return{
      Names: [
        {firstName: 'Omar', lastName:'Barghouthi'},
        {firstName: 'Faisal', lastName:'Barghouthi'},
        {firstName: 'Yousef', lastName:'Barghouthi'},
        {firstName: 'Hisham', lastName:'Barghouthi'}
      ]
  }},
  components:{
    Cart, 
    BillingAdress,
    Table
  }
}
</script>

<style>
@import './assets/bootstrap.min.css';
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>